# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Streamlit
.streamlit/

# Face directories
known_faces/
unknown_faces/
organized_faces/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
